In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("debate-tweets.tsv", header=None, sep="\t", usecols=[1, 7])

In [27]:
data2 = pd.read_csv("debate-tweets.tsv", header=None, sep="\t")

In [29]:
amostra = data2.sample(n=100)
amostra.to_csv("amostra.tsv", sep='\t', header=False, index=False)

In [3]:
data = data.applymap(str)
data.rename(columns={
    1: "mensagem",
    7: "hora"
}, inplace=True)

# ITEM A

In [4]:
# ITEM A

def def_hour(hour):
    hour = int(hour)
    if hour > 4 and hour <= 12:
        return "Manhã"
    elif hour > 12 and hour <= 16:
        return "Tarde"
    else:
        return "Noite"
    
def get_hashtag(msg):
    tags = []
    for m in msg.split():
        if "#" == m[0]:
            tags.append(m)
    return tags
  

def map(dataset):
    chave = []
    valor = []
    for data in dataset.itertuples():
        cha = def_hour(data.hora.split()[3].split(":")[0])
        
        for hashtag in get_hashtag(data.mensagem):
            chave.append(cha)
            valor.append(hashtag)
    
    map_ = pd.DataFrame()
    map_["chave"] = chave
    map_["valor"] = valor
    return  map_

In [5]:
def reduce(map_out):
    for dia in map_out["chave"].unique():
        print(dia)
        print(map_out[map_out["chave"] == dia].valor.value_counts().iloc[:5], end="\n\n")

In [6]:
reduce(map(data))

Tarde
#EMABiggestFans1D                40843
#EMABiggestFansJustinBieber      36177
#QueroNoTVZ                       4032
#EMABiggestFansJustinBieber"      1033
#ChristianNoEncontroComFatima      709
Name: valor, dtype: int64

Noite
#EMABiggestFans1D               145303
#EMABiggestFansJustinBieber     136957
#camilasayshi                     9915
#StealMyGirl                      6517
#EMABiggestFansJustinBieber"      4246
Name: valor, dtype: int64

Manhã
#EMABiggestFansJustinBieber    24324
#EMABiggestFans1D              23856
#trndnl                          873
#VoteVampsTeenAwards             863
#AustinMahoneChile               537
Name: valor, dtype: int64

# ITEM B

In [7]:
def get_hashtag(msg):
    tags = []
    for m in msg.split():
        if "#" == m[0]:
            tags.append(m)
    return tags
  

def map(dataset):
    chave = []
    valor = []
    for data in dataset.itertuples():
        cha = data.hora.split()[2]
        
        for hashtag in get_hashtag(data.mensagem):
            chave.append(cha)
            valor.append(hashtag)
    
    map_ = pd.DataFrame()
    map_["chave"] = chave
    map_["valor"] = valor
    return  map_

In [8]:
def reduce(map_out):
    for dia in map_out["chave"].unique():
        print(dia)
        print(map_out[map_out["chave"] == dia].valor.value_counts().iloc[:5], end="\n\n")

In [9]:
reduce(map(data))

15
#EMABiggestFans1D              33749
#EMABiggestFansJustinBieber    26216
#StealMyGirl                    6065
#bigpaynodanceoff               4008
#AssistamODR                    2406
Name: valor, dtype: int64

16
#EMABiggestFans1D              66619
#EMABiggestFansJustinBieber    56040
#camilasayshi                   9957
#DebateNoSBT                    3113
#CartersNewVideo                3099
Name: valor, dtype: int64

17
#EMABiggestFansJustinBieber     46921
#EMABiggestFans1D               46416
#QueroNoTVZ                      2930
#TheVoiceBrasil                  2653
#EMABiggestFansJustinBieber"     1585
Name: valor, dtype: int64

18
#EMABiggestFans1D                26802
#EMABiggestFansJustinBieber      26256
#QueroNoTVZ                       2379
#demiyourstorydoesntdefineyou     1022
#WeWantZaynsSongsInFOUR            880
Name: valor, dtype: int64

19
#EMABiggestFansJustinBieber      32016
#EMABiggestFans1D                29119
#LuanSantanaNaHoraDoFaro          3058
#LinkinParkNoMultishow            1842
#demiyourstorydoesntdefineyou     1229
Name: valor, dtype: int64

20
#EMABiggestFansJustinBieber    10009
#EMABiggestFans1D               7297
#DebateNaRecord                 2245
#QueroDilmaTreze                1817
#debatenarecord                 1761
Name: valor, dtype: int64

# ITEM C

In [10]:
def map(dataset):
    chave = []
    valor = []
    for data in dataset.itertuples():
        cha = data.hora.split()[2]
        val = data.hora.split()[3].split(":")[0]

        chave.append(cha)
        valor.append(val)

    map_ = pd.DataFrame()
    map_["chave"] = chave
    map_["valor"] = valor
    return  map_

In [11]:
def reduce(map_out):
    for dia in map_out["chave"].unique():
        print(dia)
        print(map_out[map_out["chave"] == dia].valor.value_counts(), end="\n\n")

In [12]:
reduce(map(data))

15
23    97589
22    86037
17    83956
21    79278
15    79168
16    78363
18    77716
20    66820
19    65103
14    34380
Name: valor, dtype: int64

16
02    176225
01    163357
03    124614
00    110250
22     99455
23     93364
21     88485
16     79292
04     77749
15     76896
20     68165
14     66157
17     65831
19     58552
18     57105
13     55960
12     49163
11     42721
05     42667
10     37532
09     23618
06     22230
07     10159
08      8327
Name: valor, dtype: int64

17
02    153989
01    142784
03    122216
00    107999
04     76954
16     74914
15     74755
14     66981
20     65614
17     65010
13     59857
18     58848
19     57843
23     54062
22     53502
21     53149
12     48147
05     42225
11     40920
10     35149
06     20986
09     20563
07     10695
08      8018
Name: valor, dtype: int64

18
15    75211
16    72340
14    71411
17    69005
23    68668
22    65108
18    63706
02    63504
19    61734
01    61059
21    60674
20    59172
13    58389
03    56569
00    55413
04    42781
12    41490
05    37155
11    27496
06    27475
07    17727
10    17460
08    12109
09    11540
Name: valor, dtype: int64

19
03    97584
23    95094
02    89896
22    86636
01    80645
18    80196
04    77494
19    77269
21    77039
16    76309
15    75877
20    75460
17    73542
00    73059
14    69959
05    55963
13    55893
06    40592
12    38052
07    22995
11    22588
08    16698
10    15743
09    13707
Name: valor, dtype: int64

20
01    134568
02    125020
00    123624
03     92031
04     57009
05     29497
06     14505
07      4923
Name: valor, dtype: int64

# ITEM D

In [13]:
def map(dataset):
    chave = []
    valor = []
    for data in dataset.itertuples():
        cha = "Dilma"
        msg = data.mensagem
        if "dilma" in msg or "Dilma" in msg or "DILMA" in msg:
            for palavra in data.mensagem.split():
                if len(palavra) > 2: 
                    chave.append(cha)
                    valor.append(palavra)
    
    map_ = pd.DataFrame()
    map_["chave"] = chave
    map_["valor"] = valor
    return  map_

In [14]:
def reduce(map_out):
    print(map_out.valor.value_counts()[:10], end="\n\n")

In [15]:
reduce(map(data))

Dilma               17874
que                  9250
não                  4901
Aécio                4717
com                  3571
@dilmabr             2548
dilma                2491
pra                  2394
#QueroDilmaTreze     1989
vai                  1964
Name: valor, dtype: int64

# ITEM E

In [16]:
def map(dataset):
    chave = []
    valor = []
    for data in dataset.itertuples():
        cha = "Aécio"
        msg = data.mensagem
        if "aécio" in msg or "aecio" in msg or "Aécio" in msg or "Aecio" in msg:
            for palavra in data.mensagem.split():
                if len(palavra) > 2: 
                    chave.append(cha)
                    valor.append(palavra)
    
    map_ = pd.DataFrame()
    map_["chave"] = chave
    map_["valor"] = valor
    return  map_

In [17]:
def reduce(map_out):
    print(map_out.valor.value_counts()[:10], end="\n\n")

In [18]:
reduce(map(data))

Aécio          13285
que             8534
Dilma           5610
não             4341
com             3360
@AecioNeves     2858
Aecio           2361
pra             2082
vai             2038
para            1808
Name: valor, dtype: int64

In [22]:
dic = {"a": 10}

In [23]:
"a" in dic

True

In [25]:
dic.get("c", "def")

'def'